/*---------------- Bouton creation d'un projet  ---------------*/

.project-row:hover {
    background-color: #f0f0f0;
}

.plus-button {
    background-color: #007bff;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.plus-button:hover {
    background-color: #0056b3;
}
